.topCart {
    position: relative;
}

.topCart .box {
    padding: 35px;
}

.topCart img {
    width: 100%;
    height: 100%;
}

.topCart .nametop {
    position: relative;
    width: 100%;
}

.topCart .nametop span {
    background-color: var(--clr-a);
    color: var(--clr-c);
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px;
    position: absolute;
    top: 0;
}

.topCart .product {
    width: 10%;
}

.topCartMain {
    display: flex;
}

.topCart .nametop .tleft {
    left: 0;
}

.topCart .nametop .tright {
    background-color: var(--clr-g);
    color: var(--clr-e);
    position: absolute;
    right: 0;
}

